.crd{
    box-sizing: border-box;
    padding:15px;
    height:300px;
    width:300px;
    background-color: rgba(34, 240, 195, 0.8);
    margin:5px;
    border: black solid 2px;
    border-radius: 20px;
    display:inline-block;
    box-shadow: 5px 10px 20px black;
}
.cntclass
{
    margin:1px;
    padding:0px;
    color:blue;
}