html{
    min-height: 100%;
    min-width: 100%;
    display:flex;
}
body{
    min-height: 100%;
    min-width: 100%;
    padding:0px;
    margin:0px;
    display:flex;
}
#root
{
    min-height:100%;
    min-width: 100%;
    display:flex;
    
}
.btn
{
    box-shadow: 5px 5px 10px black;
}
.btn:active{
    box-shadow: 2px 2px 5px black;
}